@inherits LayoutComponentBase
@inject DefaultClasses.Gebruiker Gebruiker
@implements IDisposable

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        @if (Gebruiker.Gebruikersnaam == null)
        {
            <a href="/gebruiker/login">Inloggen</a>
            <a href="/gebruiker/register">Registreren</a>
        }
        else
        {
            <a>@Gebruiker.Saldo coins</a>
            <a href="/gebruiker/profiel">Profiel</a>
            <a href="/gebruiker/logout">Uitloggen</a>
        }
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

@code {

    protected override void OnInitialized()
    {
        // Subscribe to the StateChanged EventHandler
        Gebruiker.StateChanged += OnGebruikerStateAdvancedStateChanged;
    }

    void OnGebruikerStateAdvancedStateChanged(object sender, EventArgs e) => StateHasChanged();

    void IDisposable.Dispose()
    {
        // When this control is disposed of
        // unsubscribe from the StateChanged EventHandler
        Gebruiker.StateChanged -=
        OnGebruikerStateAdvancedStateChanged;
    }

}