<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">GOK-SERVER</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>

        @if (HuidigeGebruiker.Gebruikersnaam != null)
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="bank" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Bank
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="hoger_lager" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Hoger Lager
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="blackjack" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Blackjack
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="crash" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Crash
                </NavLink>
            </li>
        }
    </ul>
</div>

@code {

    [CascadingParameter]
    public DefaultClasses.Gebruiker HuidigeGebruiker { get; set; }

    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
