@inject DefaultClasses.Gebruiker Gebruiker
@implements IDisposable

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Casino</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>

        @if (Gebruiker.Gebruikersnaam != null)
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="bank" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Bank
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="hoger_lager" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Hoger Lager
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="blackjack" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Blackjack
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="crash" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Crash
                </NavLink>
            </li>

            @if (Gebruiker.Admin == 1)
            {
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="admin" Match="NavLinkMatch.All">
                        <span class="oi oi-eye" aria-hidden="true"></span> Admin
                    </NavLink>
                </li>
            }

        }
    </ul>
</div>

@code {

    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override void OnInitialized()
    {
        // Subscribe to the StateChanged EventHandler
        Gebruiker.StateChanged += OnGebruikerStateAdvancedStateChanged;
    }

    void OnGebruikerStateAdvancedStateChanged(object sender, EventArgs e) => StateHasChanged();

    void IDisposable.Dispose()
    {
        // When this control is disposed of
        // unsubscribe from the StateChanged EventHandler
        Gebruiker.StateChanged -=
        OnGebruikerStateAdvancedStateChanged;
    }
}