@page "/bank"

@if (Bank == null)
{
    <p>Loading...</p>
}
else
{
    <p>Huidig Balans: @HuidigeGebruiker.Saldo</p>

    <MatNumericUpDownField Label="Withdrawal"
                           @bind-Value=@UpDownFieldWithdrawal
                           DecimalPlaces=0
                           Icon="attach_money"
                           Minimum="1" Maximum="@HuidigeGebruiker.Saldo">

    </MatNumericUpDownField>
    <MatButton OnClick="@Withdrawal" Raised="true">Withdrawal</MatButton>

    <br />
    <br />

    <MatNumericUpDownField Label="Deposit"
                           @bind-Value=@UpDownFieldDeposit
                           DecimalPlaces=0
                           Icon="attach_money"
                           Minimum="1" Maximum="5000">

    </MatNumericUpDownField>
    <MatButton OnClick="@Deposit" Raised="true">Deposit</MatButton>
}

@code {

    [CascadingParameter]
    public DefaultClasses.Gebruiker HuidigeGebruiker { get; set; }
    public DefaultClasses.DBConnection DBConnection { get; set; }

    public Bank Bank;
    public List<Gebruikers> gebruikers;
    public Gebruikers huidig;

    decimal? UpDownFieldWithdrawal = null;
    decimal? UpDownFieldDeposit = null;

    protected override void OnInitialized()
    {
        DBConnection = new DefaultClasses.DBConnection();
        Bank = new Bank(HuidigeGebruiker.Saldo);
    } 

    public void Deposit()
    {

    }

    public void Withdrawal()
    {

    }

    private void updateGebruiker()
    {
        
    }

}