@page "/crash"
@using CrashDomain

    <p>
        <MatNumericUpDownField Label="Inzet:"
                               @bind-Value=@testingNullableDecimal1
                               Step="10"
                               DecimalPlaces="0">
        </MatNumericUpDownField>
    </p>

    <p>
        <MatNumericUpDownField Label="Automatisch stoppen op:"
                               @bind-Value=@testingNullableDecimal2
                               Step="1.00m"
                               DecimalPlaces="2">
        </MatNumericUpDownField>
    </p>
    
    <br />

    <MatButton OnClick="@Click" Raised="true">Start game</MatButton>
   

@code {

    decimal? testingNullableDecimal1 = 0;
    decimal? testingNullableDecimal2 = 0;

    void Click()
    {

    }


}
