@page "/"
@inject DefaultClasses.Gebruiker Gebruiker
@inject NavigationManager nav
@inject IMatToaster Toaster
<style>
    table {
        border-collapse: collapse;
        border: 1px solid #C0C0C0;
        margin-left: auto;
        margin-right: auto;
    }

    td {
        margin: 100px;
    }

    .demo-mat-card {
        max-width: 400px;
        min-height: 350px;
    }

    .demo-mat-card-content {
        padding: 1rem;
    }

    .demo-mat-card-clean-margin {
        margin: 0px;
    }
</style>
@if (!string.IsNullOrWhiteSpace(Gebruiker.Naam))
{
    <div class="mat-layout-grid">
        <div class="mat-layout-grid-inner">
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
                <h1>Casino</h1>
                <p>Welkom bij Casino!</p>
            </div>
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
                <MatButton Style="margin-left: 16.58px;" OnClick="@RandomGetal" Unelevated="true">Ik doe een gok</MatButton>
            </div>
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12"></div>
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
                <NavLink class="nav-link" href="/crash">
                    <MatCard class="demo-mat-card">
                        <MatCardContent>
                            <MatCardMedia Wide="true" ImageUrl="/img/IndexFotos/crash.jpg">
                                <div class="demo-mat-card-content" style="color: white;">
                                    <MatHeadline6 class="demo-mat-card-clean-margin">
                                        Crash
                                    </MatHeadline6>
                                </div>
                            </MatCardMedia>
                            <MatBody2 class="demo-mat-card-content demo-mat-card-clean-margin">
                                Kan jij uitcashen en tegelijkertijd zoveel mogelijk winst maken?
                                Probeer ervoor te zorgen dat je uitcasht voordat de multiplier crasht want anders maak je verlies!
                            </MatBody2>
                        </MatCardContent>
                    </MatCard>
                </NavLink>
            </div>
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
                <NavLink class="nav-link" href="/blackjack">
                    <MatCard class="demo-mat-card">
                        <MatCardContent>
                            <MatCardMedia Wide="true" ImageUrl="/img/IndexFotos/blackJack.jpg">
                                <div class="demo-mat-card-content" style="color: white;">
                                    <MatHeadline6 class="demo-mat-card-clean-margin">
                                        Black Jack
                                    </MatHeadline6>

                                </div>
                            </MatCardMedia>
                            <MatBody2 class="demo-mat-card-content demo-mat-card-clean-margin">
                                Kun jij de dealer verslaan?
                                Probeer dichter bij de 21 punten te komen dan de bank.
                                Als je meer dan 21 punten bekomt heb je verloren, ongeacht wat de bank heeft.
                            </MatBody2>
                        </MatCardContent>
                    </MatCard>
                </NavLink>
            </div>
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
                <NavLink class="nav-link" href="/hoger_lager">
                    <MatCard class="demo-mat-card">
                        <MatCardContent>
                            <MatCardMedia Wide="true" ImageUrl="/img/IndexFotos/hogerLager.jpg">
                                <div class="demo-mat-card-content" style="color: white;">
                                    <MatHeadline6 class="demo-mat-card-clean-margin">
                                        Om ter hoogst
                                    </MatHeadline6>
                                </div>
                            </MatCardMedia>
                            <MatBody2 class="demo-mat-card-content demo-mat-card-clean-margin">
                                Strijd tegen de computer om de hoogste kaart!
                                Zet in, trek een kaart en kijk of je hoger hebt.
                                Indien de beide kaarten gelijk zijn dan wint de computer ook!
                            </MatBody2>
                        </MatCardContent>
                    </MatCard>
                </NavLink>
            </div>
        </div>
    </div>
}
else
{
    <div class="mat-layout-grid">
        <div class="mat-layout-grid-inner">
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
                <h1>Casino</h1>
                <p>Welkom bij Casino!</p>
            </div>
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
                <p>Log in om te starten met spelen!</p>
            </div>
        </div>
    </div>
}

@code{

    int randomgetal;

    private void RandomGetal()
    {
        randomgetal = new Random().Next(1, 4);

        switch (randomgetal)
        {
            case 1:
                nav.NavigateTo("/crash");
                break;
            case 2:
                nav.NavigateTo("/hoger_lager");
                break;
            case 3:
                nav.NavigateTo("/blackjack");
                break;
            default:
                Toaster.Add("Error", MatToastType.Danger, "Error");
                break;
        }
    }

}
