@page "/bank"

@if (Bank == null)
{
    <p>Loading...</p>
}
else
{
    <p>Huidig Balans: @HuidigeGebruiker.Saldo munten</p>

    <MatNumericUpDownField Label="Withdrawal"
                           @bind-Value=@UpDownFieldWithdrawal
                           DecimalPlaces=0
                           Icon="attach_money"
                           Minimum="1" Maximum="@HuidigeGebruiker.Saldo">

    </MatNumericUpDownField>
    <MatButton OnClick="@Withdrawal" Raised="true">Withdrawal</MatButton>

    <br />
    <br />

    <MatNumericUpDownField Label="Deposit: 1$ = 100 munten"
                           @bind-Value=@UpDownFieldDeposit
                           DecimalPlaces=2
                           Step="1.00m"
                           Icon="attach_money"
                           Minimum="5.00m" Maximum="1000">

    </MatNumericUpDownField>
    <MatButton OnClick="@Deposit" Raised="true">Deposit</MatButton>
}

@code {

    [CascadingParameter]
    public DefaultClasses.Gebruiker HuidigeGebruiker { get; set; }
    public DefaultClasses.DBConnection DBConnection { get; set; }

    public Bank Bank;

    decimal? UpDownFieldWithdrawal = null;
    decimal? UpDownFieldDeposit = null;

    protected override void OnInitialized()
    {
        DBConnection = new DefaultClasses.DBConnection();
        Bank = new Bank(HuidigeGebruiker.Saldo);
    }

    public void Deposit()
    {
        HuidigeGebruiker.Saldo = Bank.Storten((double)UpDownFieldDeposit.Value);
        updateGebruiker();
    }

    public void Withdrawal()
    {
        HuidigeGebruiker.Saldo = Bank.Afhalen((int)UpDownFieldWithdrawal.Value);
        updateGebruiker();
    }

    private void updateGebruiker()
    {
        DBConnection.UpdateGebruiker(HuidigeGebruiker);
    }

}